:root {
    --scheme-brown: #76453B;
    --scheme-lightbrown: #B19470;
    --scheme-light: #F8FAE5;
    --scheme-green: #43766C;
    --winner-green: #00d800;
}

body {
    padding: 0;
    margin: 0 0 3rem;
    box-sizing: border-box;

    font-family: Roboto, sans-serif;
    background-color: var(--scheme-brown);
    color: var(--scheme-light);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
}

.game-container {
    background-color: var(--scheme-light);
    border: 5px solid black;
    display: grid;
}

.game-small {
    grid-template: repeat(3, 150px) / repeat(3, 150px);
    font-size: 8rem;
}

.game-big {
    grid-template: repeat(20, 40px) / repeat(20, 40px);
    font-size: 2rem;
}

.cell {
    border: 2px solid black;
    color: var(--scheme-brown);
    display: grid;
    align-items: center;
}

.cell.winner-bgcolor {
    background-color: var(--winner-green);
}

.player-one-color {
    color: var(--scheme-green);
}

.player-two-color {
    color: var(--scheme-lightbrown);
}

.players-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.marker {
    font-size: 1.8rem;
    background-color: var(--scheme-light);
    padding: 0.2rem 0.4rem;
    border-radius: 10px;
}

.marker-player-one {
    color: var(--scheme-green);
    margin-right: 0.5rem;
}

.marker-player-two {
    color: var(--scheme-lightbrown);
    margin-left: 0.5rem;
}

.player-one-name,
.player-two-name,
.game-state-row {
    font-size: 1.5rem;
}

.btns-row {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

button {
    appearance: none;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    background-color: var(--scheme-light);
    color: var(--scheme-green);
    padding: 0.5rem 0.8rem;
    border-radius: 20px;
    width: 8rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 500px;
}

form .input-row {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    gap: 0.5rem;
}

.input-row label {
    justify-self: end;
}

.input-row input {
    line-height: 1.5rem;
    width: 80%;
}

form button {
    width: 12rem;
}

dialog {
    background-color: var(--scheme-brown);
    color: var(--scheme-light);
}

::backdrop {
    background-color: black;
    opacity: 0.75;
  }